/* ----- Vungle Design Framework - Dynamic Templates ----- */

h1 {
	font-family: $vungle-typography;
	font-weight: 600;
	color: $vungle-dt-dark-theme-text;
	margin: 0.5em 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	//padding-bottom: 1/4th of font-size
	
	#{$light-theme} {
		color: $vungle-dt-light-theme-text;
	}
	#{$dark-theme} {
		color: $vungle-dt-dark-theme-text;
	}
	
	#{$square} {
		@include flexible-sizing(font-size, 4vw, 0.9em, 1.5em, 0.9em);
		@include flexible-sizing(padding-bottom, 1vw, 0.225em, 0.35em, 0.225em);
	}
	
	#{$portrait} {
		@include flexible-sizing(font-size, 3.5vh, 1em, 1.7em, 1.125em);
		@include flexible-sizing(padding-bottom, 0.875vh, 0.25em, 0.5em, 0.25em);
	}
	
	#{$landscape} {
		@include flexible-sizing(font-size, 3vw, 1em, 1.2em, 1em);
		@include flexible-sizing(padding-bottom, 0.75vw, 0.25em, 0.3em, 0.25em);
	}
}

.vungle-cta {
	border-radius: $vungle-border-radius;
	
	#{$square} {
		@include flexible-sizing(font-size, 3vw, 1.1em, 1.3em, 1.1em);
		padding: 4vw 2%;
	}
	
	#{$portrait} {		
		@include flexible-sizing(font-size, 3vh, 1em, 1.3em, 1em);
		padding: 4vw 2%;
	}
	
	#{$landscape} {
		@include flexible-sizing(font-size, 3vw, 1em, 1.2em, 1em);
		padding: 4vh 2%;
	}	
}

.store-description {
	p {
		#{$light-theme} {
			color: $vungle-dt-light-theme-text;
		}
		#{$dark-theme} {
			color: $vungle-dt-dark-theme-text;
		}
		
		#{$square} {
			@include flexible-sizing(font-size, 1vw, 1em, 1.1em, 1em);
		}
		
		#{$portrait} {		
			@include flexible-sizing(font-size, 50vh, 0.8em, 0.9em, 0.8em);
		}
		
		#{$landscape} {
			@include flexible-sizing(font-size, 4vw, 0.8em, 0.9em, 0.8em);
		}
	}
}

.star-rating {
	svg {				
		#{$square} {
			@include flexible-sizing(width, 3vw, 0.6em, 0.7em, 0.6em);
			height: auto;
		}
		#{$portrait} {		
			@include flexible-sizing(width, 3vh, 0.65em, 0.8em, 0.65em);
			height: auto;
		}
		#{$landscape} {
			@include flexible-sizing(width, 3vw, 0.6em, 0.7em, 0.6em);
			height: auto;
		}
	}
}

.star-rating-user {
	svg {				
		#{$square} {
			@include flexible-sizing(width, 3vw, 0.6em, 0.7em, 0.6em);
			height: auto;
		}
		#{$portrait} {		
			@include flexible-sizing(width, 3vh, 0.65em, 0.8em, 0.65em);
			height: auto;
		}
		#{$landscape} {
			@include flexible-sizing(width, 3vw, 0.6em, 0.7em, 0.6em);
			height: auto;
		}
	}
	
	p {	
		#{$light-theme} {
			color: $vungle-dt-light-theme-text;
		}
		#{$dark-theme} {
			color: $vungle-dt-dark-theme-text;
		}
						
		#{$square} {
			@include flexible-sizing(font-size, 1vw, 0.7em, 1em, 1em);
		}
		#{$portrait} {		
			@include flexible-sizing(font-size, 1vh, 0.7em, 1em, 1em);
		}
		#{$landscape} {
			@include flexible-sizing(font-size, 1vw, 0.7em, 1em, 1em);
		}
	}
}