$ios-android-modifier:.5;
$windows-modifier:.8;
$windows-large-modifier:1;

$closeHeight:40pt;

$windowsCloseHeight:35pt;

#vungle-close {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
}

#vungle-close.hide {
    opacity: 0;
    pointer-events: none;
}

// -- Vungle header close button
#vungle-header {

    #{$windows}{
        opacity:1;
    }
    #{$android}{
        opacity:1;
    }
    #{$ios}{
        opacity:1;
    }

    opacity:0;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    z-index: 999998;
 
    a {
        display: block;
        padding: 0.8em 0.8em 0.5em 1.2em;
        right: 0;

        #{$windows} {
            padding: 0.25em 0.25em 0.45em 0.45em;

            @media all and (min-width: $windows-large-screen) {
                padding: 0.5em 0.5em 0.5em 0.5em;
            }
        }

        &:active {
            opacity: 0.55;
        }
    }

    #vungle-ad-close-icon-container {

        // #{$light-theme} {
        //  background: $vungle-ad-light-theme-stroke;
        // }

        // #{$dark-theme} {
        //  background: $vungle-ad-dark-theme-stroke;
        // }

        // #{$ios}, #{$android} {
        //  background: none;
        // }

        // #{$windows} {
        //  padding: 0.3em 0.6em 0.3em 0.6em;

        //  @media all and (min-width: $windows-large-screen) {
        //      padding: 0.5em 0.8em 0.5em 0.8em;
        //  }
        // }

        span {
            display: none;

            // #{$light-theme} {
            //  color: $vungle-ad-light-theme-fill;
            // }

            // #{$dark-theme} {
            //  color: $vungle-ad-dark-theme-fill;
            // }

            #{$windows} {
                display: inline-block;
                opacity: 0;
                font-family: $vungle-typography;
                font-weight: 300;
                position: absolute;
                top: 47%;
                right: 27%;
                transform: translateY(-50%);
                color: #fff;
                font-size: modifySize(22pt, $windows-modifier);
                line-height: modifySize(22pt, $windows-modifier);
                transition: opacity .5s .2s ease-in-out;

                @media all and (min-width: $windows-large-screen) {
                    font-size: modifySize(21pt, $windows-large-modifier);
                    line-height: modifySize(22pt, $windows-large-modifier);
                    top: 47%;
                }
            }
        }
    }

    // .svg-vungle-ad-close-icon {
    //  fill: $vungle-ad-dark-theme-fill;
    //  stroke: $vungle-ad-dark-theme-stroke;
    //  stroke-width: 14;
    //  stroke-miterlimit: 10;
    // }

    // #{$light-theme} {
    //  .svg-vungle-ad-close-icon {
    //      fill: $vungle-ad-light-theme-fill;
    //      stroke: $vungle-ad-light-theme-stroke;
    //  }
    // }
    // #{$dark-theme} {
    //  .svg-vungle-ad-close-icon {
    //      fill: $vungle-ad-dark-theme-fill;
    //      stroke: $vungle-ad-dark-theme-stroke;
    //  }
    // }

}

#vungle-ad-close-icon-container {
    right: 2.5vh;
    top: 3vh;
    position: absolute;
    height: modifySize($closeHeight, $ios-android-modifier);
    width: modifySize($closeHeight, $ios-android-modifier);
    text-align: center;
    border-radius: modifySize(50pt, $ios-android-modifier);


    #{$windows} {
        border-radius: 0;
        width: modifySize(40pt, $windows-modifier);
        height: modifySize($windowsCloseHeight, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            width: modifySize(40pt, $windows-large-modifier);
            height: modifySize($windowsCloseHeight, $windows-large-modifier);
        }
    }
}

#vungle-ad-timer-countdown {
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    line-height: modifySize(40pt, $ios-android-modifier);
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: modifySize(19pt, $ios-android-modifier);
    font-family: $vungle-typography;
    text-align: center;

    #{$ios} {
        line-height: modifySize(42pt, $ios-android-modifier);
    }

    #{$windows} {
        font-size: modifySize(17pt, $windows-modifier);
        width: modifySize($closeHeight, $windows-modifier);
        line-height: modifySize(35pt, $windows-modifier);


        @media all and (min-width: $windows-large-screen) {
            font-size: modifySize(17pt, $windows-large-modifier);
            width: modifySize($closeHeight, $windows-large-modifier);
            line-height: modifySize(35pt, $windows-large-modifier);
        }


    }
}

#vungle-ad-close-icon-container.rewarded #vungle-ad-timer-countdown {

    margin-left: 50%;
    transition: margin-left .5s ease-in-out, border .5s .2s ease-in-out;

    #{$windows} {
        border-right: modifySize(0px, $windows-modifier) solid rgba(255, 255, 255, 0);
    }
}

#vungle-ad-close-icon-container.rewarded.open #vungle-ad-timer-countdown {
    #{$windows} {
        border-right: modifySize(1px, $windows-modifier) solid rgba(255, 255, 255, 0.3);

        @media all and (min-width: $windows-large-screen) {
            border-right: modifySize(1px, $windows-large-modifier) solid rgba(255, 255, 255, 0.3);
        }
    }
}

#vungle-ad-close-icon-container.rewarded.open #vungle-ad-reward-timer #vungle-ad-timer-countdown {
    margin-left: 30%;


    #{$windows} {
        margin-left: modifySize(21pt, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            margin-left: modifySize(21pt, $windows-large-modifier);
        }
    }

}


#vungle-ad-reward-timer {
    position: absolute;
    background: rgba(50, 50, 50, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: modifySize(50pt, $ios-android-modifier);
    z-index: -1;
    transition: width .5s ease-in-out, box-shadow .5s ease-in-out, background .5s ease-in-out;

    #{$windows} {
        border-radius: 0;
    }
}


#vungle-ad-close-icon-container.fill:not(.open) #vungle-ad-reward-timer {
    #{$windows} {
        width: 245%;
    }
}


#vungle-ad-close-icon-container.open #vungle-ad-reward-timer {
    background: rgba(50, 50, 50, 0.7);
    width: modifySize(87pt, $ios-android-modifier);

    #{$windows} {
        width: modifySize(140pt, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            width: modifySize(140pt, $windows-large-modifier);
        }
    }
}



#vungle-ad-timer-svg-background {

    #{$windows} {
        display: none;
    }

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    // width: modifySize(40pt,$ios-android-modifier);
    // height: modifySize(40pt,$ios-android-modifier);
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#vungle-ad-timer-svg-background.animation circle {
    stroke-dasharray: modifySize(113pt, $ios-android-modifier);
    stroke-dashoffset: modifySize(113pt, $ios-android-modifier);
    stroke-linecap: round;
    stroke-width: modifySize(2pt, $ios-android-modifier);
    stroke: white;
    fill: none;
}

#vungle-ad-timer-svg-background.animation.play circle {
    animation: countdown 5s linear infinite forwards;
}

#vungle-ad-timer-svg-background.background {
    border-radius: 50%;
    -webkit-box-shadow: inset 0pt 0pt 0pt 0pt rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0pt 0pt 0pt 0pt rgba(255, 255, 255, 1);
    box-shadow: inset 0pt 0pt 0pt 0pt rgba(255, 255, 255, 1);
    transition: box-shadow .7s ease-in-out;
}

#vungle-ad-close-icon-container.fill .background {
    -webkit-box-shadow: inset 0pt 0pt 0pt modifySize(54pt, $ios-android-modifier) rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0pt 0pt 0pt modifySize(54pt, $ios-android-modifier) rgba(255, 255, 255, 1);
    box-shadow: inset 0pt 0pt 0pt modifySize(54pt, $ios-android-modifier) rgba(255, 255, 255, 1);
}

#vungle-ad-timer-svg-background.background circle {
    stroke-width: modifySize(2pt, $ios-android-modifier);
    stroke: rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 10pt #fff;
    transition: fill .25s .1s ease-in-out;
}


#vungle-ad-close-icon-container.fill #vungle-ad-timer-svg-background.background circle {
    fill: rgba(255, 255, 255, 1);
}

#vungle-ad-close-icon-container.fill span {
    #{$windows} {
        opacity: 1 !important;
    }
}


#vungle-ad-close-icon-container.pulse {
    animation: expand-contract .4s .4s linear;
}

#vungle-ad-close-icon {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .25s .1s ease-in-out;
    opacity: 0;

    #{$windows} {
        transition: opacity .5s .2s ease-in-out;
        fill: #fff;
        width: modifySize(17pt, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            width: modifySize(17pt, $windows-large-modifier);
        }
    }
}

.open #vungle-ad-close-icon,
.fill #vungle-ad-close-icon {
    #{$windows} {
        left: modifySize(-41pt, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            left: modifySize(-41pt, $windows-large-modifier);
        }
    }
}

.fill #vungle-ad-close-icon {
    opacity: 1
}

#vungle-ad-close-icon-container.rewarded #vungle-ad-close-icon {
    opacity: 0;

    #{$windows} {
        padding-left: modifySize(4px, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            padding-left: modifySize(4px, $windows-large-modifier);
        }
    }
}

#vungle-ad-close-icon-container.fill #vungle-ad-close-icon {
    opacity: 1;
}

@keyframes expand-contract {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}


@keyframes countdown {
    from {
        stroke-dashoffset: modifySize(113pt, $ios-android-modifier);
    }

    to {
        stroke-dashoffset: modifySize(0pt, $ios-android-modifier);
    }
}