$ios-android-modifier:.040;

$windows-modifier:.06;

$windows-large-modifier:.09;

$closeHeight:40em;

$windowsCloseHeight:35em;

#vungle-fullscreen-video-close, #vungle-endcard-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    pointer-events: none;
    opacity: 1;
    -webkit-transition: opacity 0.35s;

    & > .end {
        pointer-events: visible;
    }
}

#vungle-fullscreen-video-close.hide, #vungle-endcard-close.hide {
    opacity: 0;
    pointer-events: none;
    display: none;
}

// -- Vungle header close button
#vungle-header {
    #{$windows} {
        opacity: 1;
    }

    #{$android} {
        opacity: 1;
    }

    #{$ios} {
        opacity: 1;
    }

    opacity:0;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    z-index: 999998;

    a {
        display: block;
        padding: 0.8em 0.8em 0.5em 1.2em;
        right: 0;

        #{$windows} {
            padding: 0.25em 0.25em 0.45em 0.45em;

            @media all and (min-width: $windows-large-screen) {
                padding: 0.5em 0.5em 0.5em 0.5em;
            }
        }

        &:active {
            opacity: 0.55;
        }
    }

    #vungle-fullscreen-video-close-icon-container, #vungle-endcard-close-icon-container {
        right: 0em;
        top: 0em;
        position: relative;
        height: modifySize($closeHeight, $ios-android-modifier);
        width: modifySize($closeHeight, $ios-android-modifier);
        text-align: center;

        #{$windows} {
            border-radius: 0;
            width: modifySize(40em, $windows-modifier);
            height: modifySize($windowsCloseHeight, $windows-modifier);

            @media all and (min-width: $windows-large-screen) {
                width: modifySize(40em, $windows-large-modifier);
                height: modifySize($windowsCloseHeight, $windows-large-modifier);
            }
        }

        span {
            display: none;

            #{$windows} {
                display: inline-block;
                opacity: 0;
                font-family: $vungle-typography;
                font-weight: 300;
                position: absolute;
                top: 47%;
                right: 27%;
                transform: translateY(-50%);
                color: #fff;
                font-size: modifySize(22em, $windows-modifier);
                line-height: modifySize(22em, $windows-modifier);
                transition: opacity .5s .2s ease-in-out;

                @media all and (min-width: $windows-large-screen) {
                    font-size: modifySize(21em, $windows-large-modifier);
                    line-height: modifySize(22em, $windows-large-modifier);
                    top: 47%;
                }
            }
        }
    }

    .vungle-close-icon {
        fill: $vungle-ad-dark-theme-fill;
        stroke: $vungle-ad-dark-theme-stroke;
        stroke-width: 14;
        stroke-miterlimit: 10;
    }

    #{$light-theme} {
        .vungle-close-icon {
            fill: $vungle-ad-light-theme-fill;
            stroke: $vungle-ad-light-theme-stroke;
        }
    }

    #{$dark-theme} {
        .vungle-close-icon {
            fill: $vungle-ad-dark-theme-fill;
            stroke: $vungle-ad-dark-theme-stroke;
        }
    }

}

#vungle-endcard-timer-countdown {
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    line-height: auto;
    float: left;
    margin-left: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: modifySize(19em, $ios-android-modifier);
    font-family: $vungle-typography;
    text-align: center;


    #{$windows} {
        font-size: modifySize(17em, $windows-modifier);
        width: modifySize($closeHeight, $windows-modifier);
        line-height: modifySize(35em, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            font-size: modifySize(17em, $windows-large-modifier);
            width: modifySize($closeHeight, $windows-large-modifier);
            line-height: modifySize(35em, $windows-large-modifier);
        }
    }
}

#vungle-endcard-close-icon-container.rewarded #vungle-endcard-timer-countdown {
    transition: margin-left .5s ease-in-out, border .5s .2s ease-in-out;

    #{$windows} {
        border-right: modifySize(0px, $windows-modifier) solid rgba(255, 255, 255, 0);
    }
}

.end #vungle-endcard-timer-countdown {
    #{$windows} {
        opacity: 0;
    }
}

#vungle-endcard-reward-timer {
    position: absolute;
    background: rgba(50, 50, 50, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: modifySize(50em, $ios-android-modifier);
    z-index: -1;
    opacity: 0;

    #{$windows} {
        border-radius: 0;
    }
}

.show #vungle-endcard-reward-timer {
    opacity: 1;
}

#vungle-endcard-close-icon-container.end:not(.open) #vungle-endcard-reward-timer {
    transition: opacity .5s ease-in-out, box-shadow .5s ease-in-out;
    opacity: 0;

    #{$windows} {
        transition: opacity .5s ease-in-out, width .5s ease-in-out;
        opacity: 1;
        width: 232%;
    }
}


#vungle-endcard-close-icon-container.end .background {
    -webkit-box-shadow: inset 0em 0em 0em modifySize(54em, $ios-android-modifier) rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0em 0em 0em modifySize(54em, $ios-android-modifier) rgba(255, 255, 255, 1);
    box-shadow: inset 0em 0em 0em modifySize(54em, $ios-android-modifier) rgba(255, 255, 255, 1);
}

#vungle-endcard-close-icon-container.end #vungle-endcard-timer-svg-background.background circle {
    fill: rgba(255, 255, 255, 1);
}

#vungle-endcard-close-icon-container.end span {
    #{$windows} {
        opacity: 1 !important;
    }
}

.vungle-close-icon {
    width: 70%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .25s .1s ease-in-out;
    opacity: 0;
    fill: white;

    #{$ios} {
        left: 52%;
        top: 52%;
    }

    #{$windows} {
        transition: opacity .5s .2s ease-in-out;
        fill: #fff;
        width: modifySize(17em, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            width: modifySize(17em, $windows-large-modifier);
        }
    }
}

.end .vungle-close-icon {
    opacity: 1
}

#vungle-endcard-close-icon-container.rewarded .vungle-close-icon {
    opacity: 0;

    #{$windows} {
        padding-left: modifySize(4px, $windows-modifier);

        @media all and (min-width: $windows-large-screen) {
            padding-left: modifySize(4px, $windows-large-modifier);
        }
    }
}

#vungle-endcard-close-icon-container.open .vungle-close-icon,
#vungle-endcard-close-icon-container.end .vungle-close-icon {
    transition: opacity .5s .5s ease-in-out;
    opacity: 1;

    #{$windows} {
        left: modifySize(-35em, $windows-modifier);
        transition: opacity .5s .3s ease-in-out;

        @media all and (min-width: $windows-large-screen) {
            left: modifySize(-35em, $windows-large-modifier);
        }
    }
}