#privacy-page-wrapper {
    position: fixed;
    z-index: 5000001;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    border: 0;
    padding: 0;
    display: none;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 16000001;
}

#privacy-page {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

#privacy-back-button-container {
    box-sizing: initial;
    position: absolute;
    bottom: 2.5vmin;
    right: 2.5vmin;
    width: 7vmin;
    height: 7vmin;
    background: #00b17e;
    padding: 4vmin;
    border-radius: 100%;
    display: none;
    z-index: 16000002;
}

#privacy-page-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: opacity 0.25s;
}

#privacy-page-loading.loaded {
    opacity: 0;
}

#privacy-page-spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#privacy-page-loading.loading svg.components__spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite
}

#privacy-page-loading svg.components__spinner circle.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

#privacy-page-loading.loading svg.components__spinner circle.path {
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite
}
