// #video {
//     position: absolute;
//     transform: translate(-50%, -50%);
//     top: 50%;
//     left: 50%;

//     &.hide {
//         display: none;
//     }
// }

#video.video-inline {
    top: 0%;
    transform: translate(-50%, 0%);
}

#vungle-fullscreen-video {
 	position: absolute;
 	transform: translate(-50%, -50%);
 	top: 50%;
 	left: 50%;
 	width: 100%;
 	font-size: 0;

 	&.hide {
 		display: none;

 		> video {
 			display: none;
 		}
 	}
}