.footer {
    position: fixed;
    z-index: 100;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 50px;
    bottom:.5em;
    opacity:0;
    transition: $vungle-opacity-transition;
    pointer-events:none;

    &.show {
        opacity: 1;
        pointer-events:initial;
    }

    .download svg{
        stroke-width:14;
            fill: $vungle-ad-dark-theme-fill;
            stroke: $vungle-ad-dark-theme-stroke;

        #{$light-theme} {
                fill: $vungle-ad-light-theme-fill;
                stroke: $vungle-ad-light-theme-stroke;
        }

        #{$dark-theme} {
                fill: $vungle-ad-dark-theme-fill;
               stroke: $vungle-ad-dark-theme-stroke;
        }
    }


    .download {
        width: 30px;
        height: 30px;
        padding: 20px 10px 10px 20px;
        text-align: center;
        line-height: 1em;

        float: right;
        cursor: pointer;

        .download-icon {
            width: 19px;
            height: 19px;

            position: absolute;
            bottom: 4px;
        }
    }
}
