$ios-android-modifier:.040;

$windows-modifier:.06;

$windows-large-modifier:.09;

$closeHeight:40em;

$windowsCloseHeight:35em;

.video-header {

    .mute-unmute-btn {
        #{$light-theme} {
            #video-unmute-icon, #video-mute-icon {
                fill: $vungle-ad-light-theme-fill;
                stroke: $vungle-ad-light-theme-stroke;
            }
        }

        #{$dark-theme} {
            #video-unmute-icon, #video-mute-icon {
                fill: $vungle-ad-dark-theme-fill;
                stroke: $vungle-ad-dark-theme-stroke;
            }
        }

    }
}
