// - General theme settings
$light-bg: #FFFFFF;
$dark-bg: #000000;
$vungle-typography: -apple-system, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$color-cornflower: #4285F4;
$color-punch: #DE3E35;
$color-orangellow: #F7C223;
$color-eucalyptus: #1B9A59;

// - Ad-debug Colors
$color-red: #FF0000;
$color-dovegray: #646464;
$color-lynch: #717F9B;
$color-japonica: #D7816A;
$color-japonica-6: lighten($color-japonica, 6%);
$color-japonica-13: lighten($color-japonica, 13%);
$color-japonica-19: lighten($color-japonica, 19%);
$color-japonica-27: lighten($color-japonica, 27%);
$color-camouflage: #7E916F;
$color-camouflage-12: lighten($color-camouflage, 12%);
$color-camouflage-21: lighten($color-camouflage, 21%);
$color-camouflage-27: lighten($color-camouflage, 27%);
$color-camouflage-33: lighten($color-camouflage, 33%);

// - Vars
$shadow-1: inset 0px 11px 0 -10px rgba($dark-bg,0.1), inset 0px -11px 0 -10px rgba($dark-bg,0.1);
