$vungle-light-blue: #0493c9;
$vungle-dark-blue: #081f31;
$vungle-red: #dc312e;
$vungle-green: #00b17e;
$vungle-yellow: #f6d64e;
$vungle-pink: #d82667;
$white: #ffffff;
$black: #000000;
$grey: #b0b5b5;