/* ----- Vungle Design Framework - CSS core guidelines ----- */

// -- Ad Container
html {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	
	font-size: 1em; //The default font-size for the ad is set to 1em
	
	a {
		text-decoration: none;
	}
}

p {
	font-family: $vungle-typography;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: $black; //This background is defined to style viewport safe areas
}

body > * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


#dynamic {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

#vungle-ad {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
}

// -- Vungle Ad Creative
#vungle-ad {
	transition: opacity 0.02s linear;
	-webkit-transition: opacity 0.02s linear;
	position: relative;
}

#vungle-ad.video-endcard, #vungle-ad.endcard, .endcard-view, #ad-iframe {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

// some iOS versions do not show a background behind the endcard.
.endcard-view {
	background-color: $black;
}