// - Default Ad Themes
$vungle-ad-light-theme-fill: #e8e8e8;
$vungle-ad-light-theme-stroke: rgba(0,0,0,0.3);
$vungle-ad-dark-theme-fill: #000000;
$vungle-ad-dark-theme-stroke: rgba(255,255,255,0.6);

// - UI
$vungle-ui-modal-background: rgba(0,0,0,0.7);


