/* ----- Vungle Design Framework - Mixins ----- */
/* ----- Vungle Design Framework - Core Breakpoints ----- */
/* ----- Vungle Design Framework - CSS core guidelines ----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: #000000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-family: -apple-system, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-size: 1em; }
  html a {
    text-decoration: none; }

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

body > * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

#vungle-ad-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

#vungle-header {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  z-index: 1000000; }
  #vungle-header a {
    display: block;
    padding: 0px 0px 5px 20px;
    height: 1vh;
    height: 1.75em;
    height: 1vh; }
    @media (max-height: 175em) {
      #vungle-header a {
        height: 1.75em; } }
    @media (min-height: 180em) {
      #vungle-header a {
        height: 1.8em; } }
    #vungle-header a svg {
      right: 0;
      margin: 0;
      padding: 0;
      vertical-align: text-bottom;
      height: 100%;
      width: auto; }
  #vungle-header .svg-vungle-dt-close-background {
    display: inline;
    fill: rgba(25, 25, 25, 0.5); }
  #vungle-header .svg-vungle-dt-close-icon {
    fill: #fafafa; }
  body.light #vungle-header .svg-vungle-dt-close-background {
    display: inline;
    fill: rgba(240, 240, 240, 0.5); }
  body.light #vungle-header .svg-vungle-dt-close-icon {
    fill: #1a1a1a; }
  body.dark #vungle-header .svg-vungle-dt-close-background {
    display: inline;
    fill: rgba(25, 25, 25, 0.5); }
  body.dark #vungle-header .svg-vungle-dt-close-icon {
    fill: #fafafa; }

#vungle-ad {
  background-color: #000000; }
  body.light #vungle-ad {
    background-color: #e8e8e8; }
  body.dark #vungle-ad {
    background-color: #04101a; }

#vungle-footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 100; }
  #vungle-footer svg {
    height: 0.2vh;
    height: 15px;
    height: 0.2vh;
    display: block;
    fill: rgba(255, 255, 255, 0.5); }
    @media (max-height: 300em) {
      #vungle-footer svg {
        height: 0.6em; } }
    @media (min-height: 400em) {
      #vungle-footer svg {
        height: 0.8em; } }
  #vungle-footer .vungle-logo-fill {
    fill: #fafafa; }
    body.light #vungle-footer .vungle-logo-fill {
      fill: #1a1a1a; }
    body.dark #vungle-footer .vungle-logo-fill {
      fill: #fafafa; }
  #vungle-footer.left svg {
    float: left;
    padding: 0px 0px 3px 1.5vw; }
  #vungle-footer.right svg {
    float: right;
    padding: 0 1.5vw 3px 0; }
  #vungle-footer.center svg {
    width: auto;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 0 3px 0; }

.star-rating svg, .star-rating-user svg {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 1em; }

body.light .star-rating .vungle-star-full, body.light .star-rating .vungle-star-half, body.light .star-rating-user .vungle-star-full, body.light .star-rating-user .vungle-star-half {
  fill: #1a1a1a; }

body.dark .star-rating .vungle-star-full, body.dark .star-rating .vungle-star-half, body.dark .star-rating-user .vungle-star-full, body.dark .star-rating-user .vungle-star-half {
  fill: #f6d64e; }

.vungle-icon {
  position: relative;
  width: 100%; }
  .vungle-icon img {
    border-radius: 20%; }
    body.ios .vungle-icon img {
      border-radius: 26%/24%; }
    body.android .vungle-icon img {
      border-radius: 20%; }
    body.windows .vungle-icon img {
      border-radius: 0; }

.vungle-cta {
  font-weight: 500;
  background: #00b17e;
  color: #ffffff;
  padding: 4% 2%;
  font-family: -apple-system, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center; }

#vungle-ad-debug {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  pointer-events: none; }
  #vungle-ad-debug span {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 2em; }
  #vungle-ad-debug.square {
    background-color: rgba(60, 194, 92, 0.7); }
  #vungle-ad-debug.portrait-xs {
    background-color: rgba(248, 150, 30, 0.7); }
  #vungle-ad-debug.portrait-s {
    background-color: rgba(248, 150, 30, 0.6); }
  #vungle-ad-debug.portrait-m {
    background-color: rgba(248, 150, 30, 0.5); }
  #vungle-ad-debug.portrait-l {
    background-color: rgba(248, 150, 30, 0.4); }
  #vungle-ad-debug.portrait-xl {
    background-color: rgba(248, 150, 30, 0.3); }
  #vungle-ad-debug.landscape-xs {
    background-color: rgba(0, 176, 240, 0.7); }
  #vungle-ad-debug.landscape-s {
    background-color: rgba(0, 176, 240, 0.6); }
  #vungle-ad-debug.landscape-m {
    background-color: rgba(0, 176, 240, 0.5); }
  #vungle-ad-debug.landscape-l {
    background-color: rgba(0, 176, 240, 0.4); }
  #vungle-ad-debug.landscape-xl {
    background-color: rgba(0, 176, 240, 0.3); }
  #vungle-ad-debug.oob {
    background-color: rgba(255, 0, 0, 0.9); }
    #vungle-ad-debug.oob span {
      color: #ffffff;
      font-weight: bold; }

/* ----- Vungle Design Framework - Dynamic Templates ----- */
h1 {
  font-family: -apple-system, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fafafa;
  margin: 0.5em 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  body.light h1 {
    color: #1a1a1a; }
  body.dark h1 {
    color: #fafafa; }
  body.square h1 {
    font-size: 4vw;
    font-size: 0.9em;
    font-size: 4vw;
    padding-bottom: 1vw;
    padding-bottom: 0.225em;
    padding-bottom: 1vw; }
    @media (max-width: 22.5em) {
      body.square h1 {
        font-size: 0.9em; } }
    @media (min-width: 37.5em) {
      body.square h1 {
        font-size: 1.5em; } }
    @media (max-width: 22.5em) {
      body.square h1 {
        padding-bottom: 0.225em; } }
    @media (min-width: 35em) {
      body.square h1 {
        padding-bottom: 0.35em; } }
  body.portrait h1 {
    font-size: 3.5vh;
    font-size: 1.125em;
    font-size: 3.5vh;
    padding-bottom: 0.875vh;
    padding-bottom: 0.25em;
    padding-bottom: 0.875vh; }
    @media (max-height: 28.57143em) {
      body.portrait h1 {
        font-size: 1em; } }
    @media (min-height: 48.57143em) {
      body.portrait h1 {
        font-size: 1.7em; } }
    @media (max-height: 28.57143em) {
      body.portrait h1 {
        padding-bottom: 0.25em; } }
    @media (min-height: 57.14286em) {
      body.portrait h1 {
        padding-bottom: 0.5em; } }
  body.landscape h1 {
    font-size: 3vw;
    font-size: 1em;
    font-size: 3vw;
    padding-bottom: 0.75vw;
    padding-bottom: 0.25em;
    padding-bottom: 0.75vw; }
    @media (max-width: 33.33333em) {
      body.landscape h1 {
        font-size: 1em; } }
    @media (min-width: 40em) {
      body.landscape h1 {
        font-size: 1.2em; } }
    @media (max-width: 33.33333em) {
      body.landscape h1 {
        padding-bottom: 0.25em; } }
    @media (min-width: 40em) {
      body.landscape h1 {
        padding-bottom: 0.3em; } }

.vungle-cta {
  border-radius: calc((1vw + 1vh) / 2.5); }
  body.square .vungle-cta {
    font-size: 3vw;
    font-size: 1.1em;
    font-size: 3vw;
    padding: 4vw 2%; }
    @media (max-width: 36.66667em) {
      body.square .vungle-cta {
        font-size: 1.1em; } }
    @media (min-width: 43.33333em) {
      body.square .vungle-cta {
        font-size: 1.3em; } }
  body.portrait .vungle-cta {
    font-size: 3vh;
    font-size: 1em;
    font-size: 3vh;
    padding: 4vw 2%; }
    @media (max-height: 33.33333em) {
      body.portrait .vungle-cta {
        font-size: 1em; } }
    @media (min-height: 43.33333em) {
      body.portrait .vungle-cta {
        font-size: 1.3em; } }
  body.landscape .vungle-cta {
    font-size: 3vw;
    font-size: 1em;
    font-size: 3vw;
    padding: 4vh 2%; }
    @media (max-width: 33.33333em) {
      body.landscape .vungle-cta {
        font-size: 1em; } }
    @media (min-width: 40em) {
      body.landscape .vungle-cta {
        font-size: 1.2em; } }

body.light .store-description p {
  color: #1a1a1a; }

body.dark .store-description p {
  color: #fafafa; }

body.square .store-description p {
  font-size: 1vw;
  font-size: 1em;
  font-size: 1vw; }
  @media (max-width: 100em) {
    body.square .store-description p {
      font-size: 1em; } }
  @media (min-width: 110em) {
    body.square .store-description p {
      font-size: 1.1em; } }

body.portrait .store-description p {
  font-size: 50vh;
  font-size: 0.8em;
  font-size: 50vh; }
  @media (max-height: 1.6em) {
    body.portrait .store-description p {
      font-size: 0.8em; } }
  @media (min-height: 1.8em) {
    body.portrait .store-description p {
      font-size: 0.9em; } }

body.landscape .store-description p {
  font-size: 4vw;
  font-size: 0.8em;
  font-size: 4vw; }
  @media (max-width: 20em) {
    body.landscape .store-description p {
      font-size: 0.8em; } }
  @media (min-width: 22.5em) {
    body.landscape .store-description p {
      font-size: 0.9em; } }

body.square .star-rating svg {
  width: 3vw;
  width: 0.6em;
  width: 3vw;
  height: auto; }
  @media (max-width: 20em) {
    body.square .star-rating svg {
      width: 0.6em; } }
  @media (min-width: 23.33333em) {
    body.square .star-rating svg {
      width: 0.7em; } }

body.portrait .star-rating svg {
  width: 3vh;
  width: 0.65em;
  width: 3vh;
  height: auto; }
  @media (max-height: 21.66667em) {
    body.portrait .star-rating svg {
      width: 0.65em; } }
  @media (min-height: 26.66667em) {
    body.portrait .star-rating svg {
      width: 0.8em; } }

body.landscape .star-rating svg {
  width: 3vw;
  width: 0.6em;
  width: 3vw;
  height: auto; }
  @media (max-width: 20em) {
    body.landscape .star-rating svg {
      width: 0.6em; } }
  @media (min-width: 23.33333em) {
    body.landscape .star-rating svg {
      width: 0.7em; } }

body.square .star-rating-user svg {
  width: 3vw;
  width: 0.6em;
  width: 3vw;
  height: auto; }
  @media (max-width: 20em) {
    body.square .star-rating-user svg {
      width: 0.6em; } }
  @media (min-width: 23.33333em) {
    body.square .star-rating-user svg {
      width: 0.7em; } }

body.portrait .star-rating-user svg {
  width: 3vh;
  width: 0.65em;
  width: 3vh;
  height: auto; }
  @media (max-height: 21.66667em) {
    body.portrait .star-rating-user svg {
      width: 0.65em; } }
  @media (min-height: 26.66667em) {
    body.portrait .star-rating-user svg {
      width: 0.8em; } }

body.landscape .star-rating-user svg {
  width: 3vw;
  width: 0.6em;
  width: 3vw;
  height: auto; }
  @media (max-width: 20em) {
    body.landscape .star-rating-user svg {
      width: 0.6em; } }
  @media (min-width: 23.33333em) {
    body.landscape .star-rating-user svg {
      width: 0.7em; } }

body.light .star-rating-user p {
  color: #1a1a1a; }

body.dark .star-rating-user p {
  color: #fafafa; }

body.square .star-rating-user p {
  font-size: 1vw;
  font-size: 1em;
  font-size: 1vw; }
  @media (max-width: 70em) {
    body.square .star-rating-user p {
      font-size: 0.7em; } }
  @media (min-width: 100em) {
    body.square .star-rating-user p {
      font-size: 1em; } }

body.portrait .star-rating-user p {
  font-size: 1vh;
  font-size: 1em;
  font-size: 1vh; }
  @media (max-height: 70em) {
    body.portrait .star-rating-user p {
      font-size: 0.7em; } }
  @media (min-height: 100em) {
    body.portrait .star-rating-user p {
      font-size: 1em; } }

body.landscape .star-rating-user p {
  font-size: 1vw;
  font-size: 1em;
  font-size: 1vw; }
  @media (max-width: 70em) {
    body.landscape .star-rating-user p {
      font-size: 0.7em; } }
  @media (min-width: 100em) {
    body.landscape .star-rating-user p {
      font-size: 1em; } }
