<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0, user-scalable=no" />
    <meta name="author" content="Vungle">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- @if NODE_ENV='prod' -->
	<link rel="stylesheet" href="vungle.min.css">
<!-- @endif -->
<!-- @if NODE_ENV='dev' -->
	<link rel="stylesheet" href="vungle-creative.css">
<!-- @endif -->
    <!-- @ifdef THIRDPARTY --><!-- Include creative-specific CSS here --><!-- @endif -->
    {{> partials/style-includes }}
    <title>Vungle</title>
</head>

<body id="vungle-ad-container">
    <div id="vungle-header">
        <a id="vungle-close" class="hide" href="javascript:void(0)" onclick="callSDK('close')">
            <!-- CLOSE ICON -->
            <svg version="1.1" id="svg-vungle-dt-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 414.9 416.2" style="enable-background:new 0 0 414.9 416.2;" xml:space="preserve">
                <g>
                    <path class="svg-vungle-dt-close-background" d="M82.7,1h-4H2.1c55.7,0,70.9,39.8,75,61.5v198c0,26.3,13.2,49.4,33.3,63.2c12.6,9.1,28.1,14.5,44.8,14.5h195
                    c20.9,3.4,64.1,17.5,64.1,75.5v-75.5h0.2l0-337.1H82.7z" />
                    <g id="Layer_3_2_">
                        <g id="close_2_">
                            <g>
                                <polygon class="svg-vungle-dt-close-icon" points="326.7,270.1 246,189.4 164.7,270.1 145.3,250.7 226.7,169.3 145.3,88.6 164.7,69.3 246,150 
                                326.7,69.3 346.1,88.6 265.4,169.3 346.1,250.7               " />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <div id="vungle-ad">
        <!-- @ifdef THIRDPARTY --><!-- Include creative-specific HTML inside <div class="endcard-view"> --><!-- @endif --> 
            {{> partials/creative }}
    </div>

    <script>
        var theme = '<token>THEME</token>'; // Theme value can be either 'light' or 'dark'
        var closeButtonTimer = '<token>TIMER</token>'; // Timer value can be either 'NOTIMER' or 'TIMER'
    </script>
<!-- @if NODE_ENV='prod' -->
    <script src="vungle.min.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='dev' -->
    <script src="vungle-ad-helpers.js"></script>
    <script src="vungle-ad-core.js"></script>
<!-- @endif -->
    <!-- @ifdef THIRDPARTY --><!-- Include creative-specific JS here --><!-- @endif -->
    {{> partials/js-includes }}
<!-- @if NODE_ENV='prod' -->
    <!-- @ifdef THIRDPARTY -->
        <script src="vungle-creative.js"></script>
    <!-- @endif -->
    <!-- @ifdef !THIRDPARTY -->
        <script src="vungle-creative.min.js"></script>
    <!-- @endif -->
<!-- @endif -->
<!-- @if NODE_ENV='dev' -->
    <script src="vungle-creative.js"></script>
<!-- @endif -->
</body>

</html>