<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0, user-scalable=no" />
    <meta name="author" content="Vungle">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- @if NODE_ENV='prod' -->
	<link rel="stylesheet" href="vungle.min.css">
<!-- @endif -->
<!-- @if NODE_ENV='dev' -->
	<link rel="stylesheet" href="vungle-creative.css">
<!-- @endif -->
    <!-- @ifdef THIRDPARTY --><!-- Include creative-specific CSS here --><!-- @endif -->
    {{> partials/style-includes }}
    <title>Vungle</title>
</head>

<body id="vungle-ad-container">
    <div id="vungle-header">
        <a id="vungle-close" class="hide" href="javascript:void(0)" onclick="callSDK('close')">
            <!-- CLOSE ICON -->
            <svg version="1.1" id="svg-vungle-ad-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 321.2 321" style="enable-background:new 0 0 321.2 321;" xml:space="preserve">
                <g>
                    <g id="svg-vungle-ad-close-icon-layer-1">
                        <g id="svg-vungle-ad-close-icon-layer-close">
                            <g>
                                <polygon class="svg-vungle-ad-close-icon" points="280.8,309.5 161,189.8 40.4,309.5 11.6,280.8 132.4,160 11.6,40.3 40.4,11.5 161,131.3 280.8,11.5 
                                    309.5,40.3 189.8,160 309.5,280.8                "/>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <div id="vungle-ad">
        <!-- @ifdef THIRDPARTY --><!-- Include creative-specific HTML inside <div class="endcard-view"> --><!-- @endif --> 
            {{> partials/creative }}
    </div>

<!-- @ifdef THIRDPARTY -->
<!-- Theme value can be either 'light' or 'dark'. Timer value can be either 'NOTIMER' or 'TIMER' -->
<!-- @endif -->
    <script>
        var theme = '<token>THEME</token>';
        var closeButtonTimer = '<token>TIMER</token>';
    </script>
<!-- @if NODE_ENV='prod' -->
    <script src="vungle.min.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='dev' -->
    <script src="vungle-ad-helpers.js"></script>
    <script src="vungle-ad-core.js"></script>
<!-- @endif -->
    <!-- @ifdef THIRDPARTY --><!-- Include creative-specific JS here --><!-- @endif -->
    {{> partials/js-includes }}
<!-- @if NODE_ENV='prod' -->
    <!-- @ifdef THIRDPARTY -->
        <script src="vungle-creative.js"></script>
    <!-- @endif -->
    <!-- @ifdef !THIRDPARTY -->
        <script src="vungle-creative.min.js"></script>
    <!-- @endif -->
<!-- @endif -->
<!-- @if NODE_ENV='dev' -->
    <script src="vungle-creative.js"></script>
<!-- @endif -->
</body>

</html>