<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0, user-scalable=no" />
    <meta name="author" content="Vungle">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- @if NODE_ENV='prod' -->
	<link rel="stylesheet" href="vungle.min.css">
    <!-- @endif -->
    <!-- @if NODE_ENV='dev' -->
	<link rel="stylesheet" href="vungle-creative.css">
    <!-- @endif -->
    <!-- @ifdef THIRDPARTY --><!-- Include creative-specific CSS here --><!-- @endif -->
    {{> partials/style-includes }}
    <title>Vungle</title>
</head>

<body id="vungle-ad-container">
    <div id="vungle-header">
        <a id="vungle-close" class="hide" href="javascript:void(0)" onclick="callSDK('close')">
            <!-- CLOSE ICON -->
            <svg version="1.1" id="svg-vungle-ad-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 321.2 321" style="enable-background:new 0 0 321.2 321;" xml:space="preserve">
                <g>
                    <g id="svg-vungle-ad-close-icon-layer-1">
                        <g id="svg-vungle-ad-close-icon-layer-close">
                            <g>
                                <polygon class="svg-vungle-ad-close-icon" points="280.8,309.5 161,189.8 40.4,309.5 11.6,280.8 132.4,160 11.6,40.3 40.4,11.5 161,131.3 280.8,11.5 
                                    309.5,40.3 189.8,160 309.5,280.8                "/>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <div id="vungle-ad">
        <!-- @ifdef THIRDPARTY --><!-- Include creative-specific HTML inside <div class="endcard-view"> --><!-- @endif --> 
        {{> partials/creative }}
    </div>
    <!-- PRIVACY START HTML -->
    <div id="privacy-wrapper">
        <div id="privacy-icon" class="privacy-container">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 390 390" style="enable-background:new 0 0 390 390;" xml:space="preserve">
                <g>
                    <path class="st0" d="M338.3,75.4c-59.4,0-104.9-17-143.3-54.4C156.5,58.4,111,75.4,51.7,75.4c0,97.4-20.2,236.9,143.3,293.6
            C358.5,312.3,338.3,172.8,338.3,75.4z M195.5,269.5L195.5,269.5l-0.9,0h-64.1c0-46.9,41.2-46.8,50.3-59.1l1-5.6
            c-12.8-6.5-21.9-22.2-21.9-40.5c0-24.2,15.7-43.7,35.1-43.7s35.1,19.6,35.1,43.7c0,18.2-8.9,33.8-21.6,40.4l1.2,6.3
            c10,11.7,49.8,12.4,49.8,58.5H195.5z" />
                </g>
            </svg>
            <span> Privacy 
                <svg id="privacy-external" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 194.818 194.818" style="enable-background:new 0 0 194.818 194.818;" xml:space="preserve">
                <g>
                    <path class="privacy-external-path" d="M185.818,2.161h-57.04c-4.971,0-9,4.029-9,9s4.029,9,9,9h35.312l-86.3,86.3c-3.515,3.515-3.515,9.213,0,12.728
                        c1.758,1.757,4.061,2.636,6.364,2.636s4.606-0.879,6.364-2.636l86.3-86.3v35.313c0,4.971,4.029,9,9,9s9-4.029,9-9v-57.04
                        C194.818,6.19,190.789,2.161,185.818,2.161z"/>
                    <path class="privacy-external-path" d="M149,77.201c-4.971,0-9,4.029-9,9v88.456H18v-122h93.778c4.971,0,9-4.029,9-9s-4.029-9-9-9H9c-4.971,0-9,4.029-9,9v140
                        c0,4.971,4.029,9,9,9h140c4.971,0,9-4.029,9-9V86.201C158,81.23,153.971,77.201,149,77.201z"/>
                </g>
                </svg>
            </span>
        </div>
        <div id="privacy-page-wrapper">
            <div id="privacy-page-loading">
                <div id="privacy-page-spinner-wrapper">
                    <svg class="components__spinner" width="60px" height="60px" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" style="">
                        <circle class="path" fill="none" stroke-width="1" stroke-linecap="round" cx="17" cy="17" r="15"></circle>
                    </svg>
                </div>
            </div>
            <iframe id="privacy-page" src=""></iframe>
        </div>
        <div id="privacy-back-button-container" class="back-button-container" href="javascript:void(0)">
            <div class="privacy-back-button-back-button">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7000 7000" style="enable-background:new 0 0 7000 7000;" xml:space="preserve">
                    <g>
                        <path class="privacy-back-arrow" fill="#fff" d="M3590.2,6157.4L1234.8,3802H6927V3198H1234.8L3590.2,842.6l-422.8-422.8L72.2,3500l3080.1,3080.1L3590.2,6157.4z"></path>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <!-- PRIVACY END HTML --> 

    <!-- @ifdef THIRDPARTY -->
    <!-- Theme value can be either 'light' or 'dark'. Timer value can be either 'NOTIMER' or 'TIMER' -->
    <!-- @endif -->
    <script>
        var theme = '<token>THEME</token>';
        var closeButtonTimer = '<token>TIMER</token>';
    </script>
    <!-- @if NODE_ENV='prod' -->
    <script src="vungle.min.js"></script>
    <!-- @endif -->
    <!-- @if NODE_ENV='dev' -->
    <script src="vungle-ad-helpers.js"></script>
    <script src="vungle-ad-core.js"></script>
    <script src="vungle-ad-privacy.js"></script>
    <!-- @endif -->
    <!-- @ifdef THIRDPARTY --><!-- Include creative-specific JS here --><!-- @endif -->
    {{> partials/js-includes }}
    <!-- @if NODE_ENV='prod' -->
        <!-- @ifdef THIRDPARTY -->
            <script src="vungle-creative.js"></script>
        <!-- @endif -->
        <!-- @ifdef !THIRDPARTY -->
            <script src="vungle-creative.min.js"></script>
        <!-- @endif -->
    <!-- @endif -->
    <!-- @if NODE_ENV='dev' -->
    <script src="vungle-creative.js"></script>
    <!-- @endif -->
</body>
</html>