<footer class="ads-footer">
    <button id="privacy-icon" class="privacy-btn">
        <i class="icon icon-privacy"></i>
        Privacy
        <i class="icon icon-external"></i>
    </button>
    <button id="video-cta" class="download-btn">
        Download
        <i class="icon icon-download"></i>
    </button>
    <div id="privacy-page-wrapper" overlay>
        <div id="privacy-page-loading">
            <div id="privacy-page-spinner-wrapper">
                <svg class="components__spinner" width="60px" height="60px" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" style="">
                    <circle class="path" fill="none" stroke-width="1" stroke-linecap="round" cx="17" cy="17" r="15"></circle>
                </svg>
            </div>
        </div>
        <iframe id="privacy-page" src=""></iframe>
    </div>
    <div id="privacy-back-button-container" class="back-button-container" href="javascript:void(0)">
        <div class="privacy-back-button-back-button">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7000 7000" style="enable-background:new 0 0 7000 7000;" xml:space="preserve">
                <g>
                    <path class="privacy-back-arrow" fill="#fff" d="M3590.2,6157.4L1234.8,3802H6927V3198H1234.8L3590.2,842.6l-422.8-422.8L72.2,3500l3080.1,3080.1L3590.2,6157.4z"></path>
                </g>
            </svg>
        </div>
    </div>
</footer>
