<header id="vungle-header" class="ads-header">
    <button id="video-mute" class="audio-btn-container mute-unmute-btn">
        Mute / Ummute
        <input type="checkbox" id="mute-unmute-switch" class="video-mute" />
        <i id="video-unmute-icon" class="icon icon-unmute"></i>
        <i id="video-mute-icon" class="icon icon-mute"></i>
    </button>
    <div class="close-btn-container hide" id="vungle-fullscreen-video-close-icon-container">
        <span id="vungle-video-timer-countdown" class="vdc-timer">3</span>
        <button class="close-btn">
            Close
            <i class="icon icon-close"></i>
        </button>
    </div>
    <div class="close-btn-container hide" id="vungle-endcard-close-icon-container">
        <span id="vungle-endcard-timer-countdown" class="vdc-timer">3</span>
        <button id="vungle-endcard-close" class="close-btn">
            Close
            <i class="icon icon-close"></i>
        </button>
    </div>
</header>
