<div id="gdpr-notification-view" class="vdc-overlay hide" overlay>
  <div class="modal-content fullscreen">
    <header class="gdpr-notification-icon modal-header">
      <i class="icon icon-gdpr"></i>
      <h3 id="gdpr-notification-title-text" class="modal-title">Ad-Interaction Data Collection</h3>
    </header>
    <p id="gdpr-notification-body-text" class="modal-text">With permission, Vungle collects your ad-interaction data to serve relevant ads to you. Note: you’ll see ads independent of your selection, but they may not be as relevant. Do you consent to data tracking for more relevant ads?</p>
    <div class="gdpr-notification-buttons full-width-ctas">
      <button id="gdpr-notification-consent" class="vdc-cta primary">I consent</button>
      <button id="gdpr-notification-no-consent" class="vdc-cta secondary">I do not consent</button>
    </div>
  </div>
</div>
