<div id="ad-notification-modal" class="vdc-overlay hide" overlay>
  <div class="modal-content notification" role="alert">
    <h3 id="ad-notification-modal-title-text" class="modal-title">Close this ad?</h3>
    <p id="ad-notification-modal-body-text" class="modal-text">Are you sure you want to skip this ad? You must finish watching to claim your reward.</p>
    <div class="full-width-ctas">
      <button id="ad-notification-modal-continue" class="vdc-cta primary">Continue</button>
      <button id="ad-notification-modal-close" class="vdc-cta secondary">Close</button>
    </div>
  </div>
</div>
