/* ----- Vungle Design Framework - CSS core guidelines ----- */

// -- Vungle Ad Creative
#vungle-ad {
		left: 0;
		background-color: $dark-bg; // some iOS versions do not show a background behind the endcard.
		height: 100%;
		margin: auto;
		overflow: hidden;
		position: absolute;
		top: 0;
		transition: opacity 0.02s linear;
		-webkit-transition: opacity 0.02s linear;
		width: 100%;

		.fullscreen-video-view,
		.endcard-view {
				height: 100%
		}

		.fullscreen-video-view,
		#fullscreen-video {

				&.hide { display: none; }

		}

		#fullscreen-video {
			 	height: 100%;
			 	width: 100%;
		}

}
