<!doctype html>
<html lang="en">

<head>
    <!-- Vungle Design Framework {{version}} -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0, user-scalable=no" />
    <meta name="author" content="Vungle">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- build:js mraid.js -->
    <script src="js/mraid.js"></script>
    <!-- /build -->
    <!-- build:css vungle.min.css -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://vds.creative-labs.io/css/creative.min.css">
    <!-- /build -->
    <!-- build:remove -->
    <script>
        /*
            Debug mode: Displays the Vungle boilerplate classes to help you
            identify each classname if you wish to make additional stylistic changes

            Set debug to true to see the Vungle sizing classes
        */
        window.vungleDebugMode = false;

        // work around, browsersync doenst allow 127.0.0.1
        if(window.location.hostname === 'localhost') {
            window.location.href = 'http://127.0.0.1:' + window.location.port + window.location.pathname;
        }
    </script>
    <!-- /build -->
    <title>Vungle</title>
</head>

<body id="dynamic">

    {{#> header}}{{/header}}

    <div id="vungle-ad">
        <div id="fullscreen-video-view" class="fullscreen-video-view hide">

            <video muted id="fullscreen-video" playsinline webkit-playsinline autoplay></video>

            {{#> progress}}{{/progress}}

        </div>
        <div id="endcard-view" overlay class="endcard-view"></div>
    </div>

    {{#> overlay-full}}{{/overlay-full}}

    {{#> overlay-notification}}{{/overlay-notification}}

    <!-- PRIVACY START HTML -->

    {{#> footer}}{{/footer}}

    <!-- PRIVACY END HTML -->
    <!-- build:js vungle.min.js -->
    <script src="js/main.js" type="module"></script>
    <!-- /build -->
</body>

</html>
