/* ----- Vungle Design Framework - Core Breakpoints ----- */

//Use by applying the following in your custom stylesheet: body.@include $portrait-xs &

// -- Ratio Breakpoints
$square: 'body.square &';

$portrait: 'body.portrait &';
$portrait-xs: 'body.portrait-xs &';
$portrait-s: 'body.portrait-s &';
$portrait-m: 'body.portrait-m &';
$portrait-l: 'body.portrait-l &';
$portrait-xl: 'body.portrait-xl &';

$landscape: 'body.landscape &';
$landscape-xs: 'body.landscape-xs &';
$landscape-s: 'body.landscape-s &';
$landscape-m: 'body.landscape-m &';
$landscape-l: 'body.landscape-l &';
$landscape-xl: 'body.landscape-xl &';

// -- Theme Stylistic Breakpoints
$light-theme: 'body.light &';
$dark-theme: 'body.dark &';

// -- OS Stylistic Breakpoints
$ios: 'body.ios &';
$android: 'body.android &';
$windows: 'body.windows &';