/* ----- Vungle Design Framework - CSS core guidelines ----- */

// -- Vungle Colours
$vungle-light-blue: #0493c9;
$vungle-dark-blue: #081f31;
$vungle-red: #dc312e;
$vungle-green: #00b17e;
$vungle-yellow: #f6d64e;
$vungle-pink: #d82667;
$white: #ffffff;
$black: #000000;
$grey: #b0b5b5;

// - Default Ad Themes
$vungle-ad-light-theme-fill: #e8e8e8;
$vungle-ad-light-theme-stroke: rgba(0,0,0,0.3);
$vungle-ad-dark-theme-fill: #000000;
$vungle-ad-dark-theme-stroke: rgba(255,255,255,0.6);

// - Typography
$vungle-typography: -apple-system, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// - UI
$vungle-ui-modal-background: rgba(0,0,0,0.7);

// -- Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; // HTML5 display-role reset for older browsers
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	font-family: $vungle-typography;
}


// -- Ad Container
html {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	
	font-size: 1em; //The default font-size for the ad is set to 1em
	
	a {
		text-decoration: none;
	}
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: $black; //This background is defined to style viewport safe areas
}

body > * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#vungle-close {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
}

#vungle-close.hide {
    opacity: 0;
    pointer-events: none;
}

#dynamic {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

#vungle-ad {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
}

#vungle-fullscreen-video {
 	position: absolute;
 	transform: translate(-50%, -50%);
 	top: 50%;
 	left: 50%;
 	width: 100%;
 	font-size: 0;

 	&.hide {
 		display: none;

 		> video {
 			display: none;
 		}
 	}
}


// -- Vungle header close button
#vungle-header {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	z-index: 10000000;
	
	a {
		display: block;
		padding: 0.8em 0.8em 0.5em 1.2em;
		right: 0;

		#{$windows} {
			padding: 0.25em 0.25em 0.45em 0.45em;

			@media all and (min-width: $windows-large-screen) {
				padding: 0.5em 0.5em 0.5em 0.5em;
			}
		}
		
		svg {
			right: 0;
			margin: 0;
			padding: 0;
			vertical-align: bottom;
			height: 1.1em;
			width: 1.1em;

			#{$windows} {
				height: 1em;
				width: 1em;
				margin-bottom: 0.2em;
				margin-right: 0.1em;

				@media all and (min-width: $windows-large-screen) {
					height: 1.5em;
					width: 1.5em;
					margin-right: 0.3em;
				}
			}
		}

		&:active {
			opacity: 0.55;
		}
	}

	#background-vungle-ad-close {

		#{$light-theme} {
			background: $vungle-ad-light-theme-stroke;
		}

		#{$dark-theme} {
			background: $vungle-ad-dark-theme-stroke;
		}

		#{$ios}, #{$android} {
			background: none;
		}

		#{$windows} {
			padding: 0.3em 0.6em 0.3em 0.6em;

			@media all and (min-width: $windows-large-screen) {
				padding: 0.5em 0.8em 0.5em 0.8em;
			}
		}

		span {
			display: none;

			#{$light-theme} {
				color: $vungle-ad-light-theme-fill;
			}

			#{$dark-theme} {
				color: $vungle-ad-dark-theme-fill;
			}

			#{$windows} {
				display: inline-block;
				font-family: $vungle-typography;
				font-weight: 300;
				font-size: 1.2em;
				line-height: 1.3em;

				@media all and (min-width: $windows-large-screen) {
					font-size: 1.8em;
					line-height: 1.2em;
				}
			}
		}
	}
	
	.svg-vungle-ad-close-icon {
		fill: $vungle-ad-dark-theme-fill;
		stroke: $vungle-ad-dark-theme-stroke;
		stroke-width: 14;
		stroke-miterlimit: 10;
	}
	
	#{$light-theme} {
		.svg-vungle-ad-close-icon {
			fill: $vungle-ad-light-theme-fill;
			stroke: $vungle-ad-light-theme-stroke;
		}
	}
	#{$dark-theme} {
		.svg-vungle-ad-close-icon {
			fill: $vungle-ad-dark-theme-fill;
			stroke: $vungle-ad-dark-theme-stroke;
		}
	}

	#{$windows} {
		.svg-vungle-ad-close-icon {
			stroke: none;
		}
	}
}

// -- Vungle Ad UI Elements
#ad-notification-modal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: opacity 0.5s ease-in-out;
	background: $vungle-ui-modal-background;

	&.hide {
		opacity: 0;
		pointer-events: none;

		.ad-notification-modal-content {
			bottom: -100%;
		}
	}

	.ad-notification-modal-content {
		position: absolute;
		bottom: 0;
		margin: auto;
		width: 100%;
		background: $white;
		z-index: 5000;
		box-sizing: border-box;
		padding: 0 10vw 14vw;
		transition: bottom 0.9s cubic-bezier(0.77, 0, 0.175, 1);

		#{$landscape} {
			padding: 0 10vw 9vw;
		}

		&:after {
			content: "";
			background: $white;
			border-radius: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%) translateY(-20%);
			z-index: -1;

			width: calc(120vw + 20vh);
	    	height: calc(20vw + 15vh);

	    	#{$landscape} {
	    		width: calc(120vw + 10vh);
	    		height: calc(15vw + 0vh);
	    	}
		}

		h3 {
			text-align: center;
			color: $black;
			font-family: $vungle-typography;
			@include responsive-font(4.5vw, 1.4em, 2em);
			font-weight: 700;
			padding: 5vw 0 1.5em;

			#{$landscape} {
				padding: 2vw 0 1em;
				@include responsive-font(4.5vw, 1.2em, 1.5em);
			}
		}

		p {
			text-align: center;
			color: $black;
			font-family: $vungle-typography;
			@include responsive-font(2.5vw, 0.9em, 1.2em);
			line-height: calc(120%);
			padding: 0;
		}

		.ad-notification-modal-buttons {
			width: 100%;
			padding: 5vw 0 0;

			#{$landscape} {
				padding: 1.4em 0 0;
				display: flex;
			}

			a {
				width: 100%;
				max-width: 50vw;
				margin: auto;
				display: block;
				color: $black;
				font-family: $vungle-typography;
				@include responsive-font(3.5vw, 1.2em, 1.4em);
				padding: 0.8em 0;
				text-align: center;
				border-radius: 2em;
				margin-top: 0.5em;

				#{$landscape} {
					padding: 0.3em 0;
					flex: 1;
					margin: 0 1em 0 1em;
					@include responsive-font(3.5vw, 1em, 1.2em);
					padding: 0.5em 0;
				}

				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}

				&.action-border-green {
					background: #05c237;
					color: $white;
				}
				&.action-sub-grey {
					background: $white;
					color: $grey;
				}
			}
		}
	}
}

#gdpr-notification-view {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $white;
	z-index: 3000;

	&.hide {
		opacity: 0;
		pointer-events: none;
	}

	.ad-notification-modal-content {
		position: absolute;
		left: 0%;
		top: 50%;
		margin: 0 auto;
		width: 100%;
		background: $white;
		z-index: 5000;
		box-sizing: border-box;
		padding: 0 10vw;
		transform: translate(0%, -50%);

		.gdpr-notification-icon {
			background: $vungle-light-blue;
			border-radius: 10000px;
			padding: 1.5vw;
			width: 17vw;
			left: 0;
			right: 0;
			margin: auto;

			svg {
				display: block;
			}

			.target-icon {
				fill: $white;
			}

			#{$landscape} {
				display: none;

				@media all and (min-width: $tablet) {
					display: block;
					width: 8vw;
				}
			}
		}

		h3 {
			text-align: center;
			color: $black;
			font-family: $vungle-typography;
			@include responsive-font(4.5vw, 1.4em, 2em);
			font-weight: 700;
			padding: 5vw 0 1.5em;

			#{$landscape} {
				padding: 2vw 0 1em;
				@include responsive-font(4.5vw, 1.2em, 1.5em);

				@media all and (min-width: $tablet) {
					@include responsive-font(4.5vw, 1.7em, 1.9em);
				}
			}
		}

		p {
			text-align: center;
			color: $black;
			font-family: $vungle-typography;
			@include responsive-font(2.5vw, 0.9em, 1.2em);
			line-height: calc(120%);
			padding: 0;
		}

		.gdpr-notification-buttons {
			width: 100%;
			padding: 5vw 0 0;

			a {
				width: 100%;
				max-width: 50vw;
				margin: auto;
				display: block;
				color: $black;
				font-family: $vungle-typography;
				@include responsive-font(3.5vw, 1.2em, 1.4em);
				padding: 0.8em 0;
				text-align: center;
				border-radius: 2em;
				margin-top: 0.5em;

				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}

				&.action-border-green {
					background: #05c237;
					color: $white;
				}
				&.action-sub-grey {
					background: $white;
					color: $grey;
				}
			}
		}
	}
}

// -- Vungle Ad Creative
#vungle-ad {
	transition: opacity 0.02s linear;
	-webkit-transition: opacity 0.02s linear;
	position: relative;
}

#vungle-ad.video-endcard, #vungle-ad.endcard, .endcard-view, #ad-iframe {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#vungle-ad-debug {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0; left: 0; bottom: 0; right: 0; 
    pointer-events: none;
    background-color: rgba(0,0,0,0.3);
    
    p {
		text-align: center;
		position: absolute;
		width: 80%;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-family: $vungle-typography;

		#{$landscape} {
			width: 60%;
		}
    }

    span {
		display: block;
		padding: 0.5em 1em;
		background: rgba(100, 100, 100, 0.35);
		color: $white;
		font-weight: 400;
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		@include responsive-font(3vw, 0.9em, 1.1em);

		&.title {
			@include responsive-font(2.5vw, 1.4em, 1.7em);
			background: rgba(0,0,0,0.8);
		}

		b {
			font-weight: 600;
		}

		&:first-child {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		&:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		&:nth-child(3) {
			box-shadow: inset 0px 11px 0 -10px rgba(0,0,0,0.1), inset 0px -11px 0 -10px rgba(0,0,0,0.1); 
		}

		#{$landscape} {
			@include responsive-font(2vw, 0.7em, 0.9em);

			&.title {
				@include responsive-font(2vw, 1.5em, 1.8em);
			}
		}

		#{$square} {
			@include responsive-font(2vw, 0.7em, 0.9em);

			&.title {
				@include responsive-font(2vw, 1.5em, 1.8em);
			}
		}

		&.title {
			#{$square} {
		    	background-color: rgba(113, 127, 155, 0.65); //717F9B
			}
			#{$portrait-xs} {
			    background-color: rgba(215, 129, 106, 0.65); //D7816A
			}
			#{$portrait-s} {
			    background-color: rgba(222, 151, 133, 0.65); //DE9785
			}
			#{$portrait-m} {
			    background-color: rgba(229, 174, 160, 0.65); //E5AEA0
			}
			#{$portrait-l} {
			    background-color: rgba(236, 197, 187, 0.65); //ECC5BB
			}
			#{$portrait-xl} {
			    background-color: rgba(2244, 220, 214, 0.65); //F4DCD6
			}
			#{$landscape-xs} {
			    background-color: rgba(126, 145, 111, 0.65); //7E916F
			}
			#{$landscape-s} {
			    background-color: rgba(158, 180, 139, 0.65); //9EB48B
			}
			#{$landscape-m} {
			    background-color: rgba(180, 203, 161, 0.65); //B4CBA1
			}
			#{$landscape-l} {
			    background-color: rgba(195, 213, 180, 0.65); //C3D5B4
			}
			#{$landscape-xl} {
			    background-color: rgba(210, 223, 198, 0.65); //D2DFC6
			}
		}
    }
	
	&.oob {
	    background-color: rgba(255, 0, 0, 0.4);

	    span {
	    	&.title {
	    		background-color: rgba(255, 0, 0, 0.65) !important;
	    	}
	    }
	    
	    & p {
		    color: #ffffff;
		    font-weight: bold;
	    }
	}
}    