/* ----- Vungle Design Framework - CSS core guidelines ----- */

// -- Vungle Colours
$vungle-light-blue: #0493c9;
$vungle-dark-blue: #081f31;
$vungle-red: #dc312e;
$vungle-green: #00b17e;
$vungle-yellow: #f6d64e;
$vungle-pink: #d82667;
$white: #ffffff;
$black: #000000;


// - Dynamic Template Specific
$vungle-light-theme-background: #e8e8e8;
$vungle-dt-light-theme-close-background: rgba(240, 240, 240, 0.5);
$vungle-dt-light-theme-card: rgba(0,0,0,0.1);
$vungle-dt-light-theme-text: #1a1a1a;

$vungle-dark-theme-background: #04101a;
$vungle-dt-dark-theme-close-background: rgba(25, 25, 25, 0.5);
$vungle-dt-dark-theme-card: rgba(255,255,255,0.07);
$vungle-dt-dark-theme-text: #fafafa;

$vungle-light-theme-close-fill: #1a1a1a;
$vungle-light-theme-tooltip: rgba(255,255,255,1);
$vungle-light-theme-footer: rgba(255,255,255,0.5);
$vungle-dark-theme-close-fill: #f0f0f0;
$vungle-dark-theme-tooltip: rgba(0,0,0,1);
$vungle-dark-theme-footer: rgba(0,0,0,0.5);

$card-background: rgba(255,255,255,0.2);
$vungle-border-radius: calc((1vw + 1vh) / 2.5);
$vungle-margin-portrait: 1.5vw;
$video-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;

// - Typography
$vungle-typography: -apple-system, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


// -- Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; // HTML5 display-role reset for older browsers
}
body {
	line-height: 1;
	background: #000000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	font-family: $vungle-typography;
}


// -- Ad Container
html {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	
	font-size: 1em; //The default font-size for the ad is set to 1em
	
	a {
		text-decoration: none;
	}
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body > * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#vungle-ad-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}


// -- Vungle header close button
#vungle-header {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	z-index: 1000000;
	
	a {
		display: block;
		padding: 0px 0px 5px 20px;
		@include flexible-sizing(height, 1vh, 1.750em, 1.8em, 1.750em);
		
		svg {
			right: 0;
			margin: 0;
			padding: 0;
			vertical-align: text-bottom;
			height: 100%;
			width: auto;
		}
	}
	
	.svg-vungle-dt-close-background {
		display: inline;
		fill: $vungle-dt-dark-theme-close-background;
	}
	.svg-vungle-dt-close-icon {
		fill: $vungle-dt-dark-theme-text;
	}
	
	#{$light-theme} {
		.svg-vungle-dt-close-background {
			display: inline;
			fill: $vungle-dt-light-theme-close-background;
		}
		.svg-vungle-dt-close-icon {
			fill: $vungle-dt-light-theme-text;
		}
	}
	#{$dark-theme} {
		.svg-vungle-dt-close-background {
			display: inline;
			fill: $vungle-dt-dark-theme-close-background;
		}
		.svg-vungle-dt-close-icon {
			fill: $vungle-dt-dark-theme-text;
		}
	}
}

// - Vungle Ad Creative
#vungle-ad {
	background-color: $black;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	
	#{$light-theme} {
		background-color: $vungle-light-theme-background;
	}
	#{$dark-theme} {
		background-color: $vungle-dark-theme-background;
	}		
}

// -- Vungle Footer
#vungle-footer {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	z-index: 100;
	
	svg {
		@include flexible-sizing(height, 0.2vh, 0.6em, 0.8em, 15px);
		display: block;
		fill: $vungle-light-theme-footer;
	}
	
	.vungle-logo-fill {
		fill: $vungle-dt-dark-theme-text;
		
		#{$light-theme} {
			fill: $vungle-dt-light-theme-text;
		}
		#{$dark-theme} {
			fill: $vungle-dt-dark-theme-text;
		}
	}
	
	&.left svg {
		float: left;
		padding: 0px 0px 3px $vungle-margin-portrait;
	}
	&.right svg {
		float: right;
		padding: 0 $vungle-margin-portrait 3px 0;
	}
	&.center svg {
		width: auto;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0 0 3px 0;
	}
}

.star-rating, .star-rating-user {
	svg {
		display: inline-block;
		vertical-align:middle;
		height: 1em;
		width: 1em;
	}
	
	.vungle-star-full, .vungle-star-half {
		#{$light-theme} {
			fill: $vungle-dt-light-theme-text;
		}
		#{$dark-theme} {
			fill: $vungle-yellow;
		}
	}
}

.vungle-icon {
	position: relative;
	width: 100%;

	img {
		border-radius: 20%;
		@include os-icon-border-radius;
	}
}

.vungle-cta {
	font-weight: 500;
	background: $vungle-green;
	color: $white;
	padding: 4% 2%;
	font-family: $vungle-typography;
	text-align: center;
}

#vungle-ad-debug {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0; left: 0; bottom: 0; right: 0; 
    opacity: 0.5;
    pointer-events: none;
    
    span {
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-family: sans-serif;
		font-size: 2em;
    }
    
    &.square {
	    background-color: rgba(60, 194, 92, 0.7);
	}
	&.portrait-xs {
	    background-color: rgba(248, 150, 30, 0.7);
	}
	&.portrait-s {
	    background-color: rgba(248, 150, 30, 0.6);
	}
	&.portrait-m {
	    background-color: rgba(248, 150, 30, 0.5);
	}
	&.portrait-l {
	    background-color: rgba(248, 150, 30, 0.4);
	}
	&.portrait-xl {
	    background-color: rgba(248, 150, 30, 0.3);
	}
	&.landscape-xs {
	    background-color: rgba(0, 176, 240, 0.7);
	}
	&.landscape-s {
	    background-color: rgba(0, 176, 240, 0.6);
	}
	&.landscape-m {
	    background-color: rgba(0, 176, 240, 0.5);
	}
	&.landscape-l {
	    background-color: rgba(0, 176, 240, 0.4);
	}
	&.landscape-xl {
	    background-color: rgba(0, 176, 240, 0.3);
	}
	
	&.oob {
	    background-color: rgba(255, 0, 0, 0.9);
	    
	    & span {
		    color: #ffffff;
		    font-weight: bold;
	    }
	}
}    