{
  "env": {
      "browser": true,
      "node": true,
      "es6": true
  },
  "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
      "semi": [
          "error",
          "always"
      ],
      "no-trailing-spaces": "error",
      "no-tabs": "error",
      "indent": "error",
      "no-unused-vars": [
          "error",
          {
              "varsIgnorePattern": "^uuidBind"
          }
      ],
      "keyword-spacing": "error",
      "key-spacing": "error",
      "object-curly-spacing": [
          "error",
          "always"
      ],
      "quotes": [
          "error",
          "double"
      ],
      "space-infix-ops": "error",
      "eol-last": [
          "error",
          "always"
      ]
  }
}
